
@use '/src/common/styles/Colors' as *;

.menu{
    text-decoration: none;
    li{
        display: inline-block;
    }
    a{
        padding: 0.5em;
    }
}

.active{
    background-color: $yellow;
}

