%flex-column{
    display: flex;
    flex-direction: column;
}

%limit-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}